{% extends "core/base.html" %}
{% load static%}

{% block content %}
    <div class="mt-5">
        <div class="text-center">
            <img src="{% static 'core/images/avatar.png' %}" alt="Profilepic" class="img-thumbnail" width="250px" height="150px">
        </div>
        <div class="mt-5 text-white mx-5">
            <h1 class="font-weight-bold st-font">Hello,</h1>
            <div class="px-4" style="line-height: 2rem;">
                <p style="text-indent:100px; text-align: justify;">
                    I am <b class="text-warning">Abhik Ganguly</b> having 1 year of full-stack web development experience for global business, I offer the technical expertise you are seeking for your web developer position.
                </p>
                <p style="text-align: justify;">
                    Since earning my bachelor's degree in internet and web development from XYZ University, I have served as a web developer at <b class="text-warning">GS Technology</b>, one of the biggest premier digital marketing and web development firm. In this position, I have led web development projects for clients in diverse industries including technology, manufacturing, pharmaceutical, hospitality, retail and financial services.
                </p>
                <p style="text-align: justify;">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et aliquid odio similique molestias consectetur sequi id, omnis sapiente deserunt recusandae quas nostrum quos accusamus? Architecto recusandae voluptate, magni necessitatibus optio assumenda nulla rem eligendi est eum accusamus illum veniam consequatur, pariatur quis facilis minus debitis! Reiciendis aliquid exercitationem dolore quia. 
                </p>
            </div>
        </div>
        <div class="text-center">
            <a href="{% url 'contact' %}" class="btn btn-outline-warning my-3 me-5">Hire Me</a>
            <a href="{% url 'contact' %}" class="btn btn-outline-info my-3">Contact</a>
        </div>
    </div>
{% endblock content %}