{% extends 'core/base.html' %}

{% block content %}
    <div class="container p-5">
        <div class="container mb-5">
            <h1 class="text-warning border-bottom">SKILLS</h1>
        </div>
        <div class="container">
            <div class="row text-white m-5 px-5">
                <div class="col-sm-5">
                    <h3 class="mt-5">HTML/CSS</h3>
                    <div class="progress">
                        <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" role="progressbar" style="width: 95%;" area-valuenow="95" area-valuemin="0" area-valuemax="100">95%</div>
                    </div>
                </div>
                <div class="col-sm-2">

                </div>
                <div class="col-sm-5">
                    <h3 class="mt-5">JavaScript</h3>
                    <div class="progress">
                        <div class="progress-bar bg-primary progress-bar-striped progress-bar-animated" role="progressbar" style="width: 90%;" area-valuenow="90" area-valuemin="0" area-valuemax="100">90%</div>
                    </div>
                </div>
            </div>
            <div class="row text-white m-5 px-5">
                <div class="col-sm-5">
                    <h3 class="mt-5">React</h3>
                    <div class="progress">
                        <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" role="progressbar" style="width: 80%;" area-valuenow="80" area-valuemin="0" area-valuemax="100">80%</div>
                    </div>
                </div>
                <div class="col-sm-2">

                </div>
                <div class="col-sm-5">
                    <h3 class="mt-5">Django</h3>
                    <div class="progress">
                        <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" role="progressbar" style="width: 80%;" area-valuenow="80" area-valuemin="0" area-valuemax="100">80%</div>
                    </div>
                </div>
            </div>
            <div class="row text-white m-5 px-5">
                <div class="col-sm-5">
                    <h3 class="mt-5">C/C++</h3>
                    <div class="progress">
                        <div class="progress-bar bg-primary progress-bar-striped progress-bar-animated" role="progressbar" style="width: 90%;" area-valuenow="90" area-valuemin="0" area-valuemax="100">90%</div>
                    </div>
                </div>
                <div class="col-sm-2">

                </div>
                <div class="col-sm-5">
                    <h3 class="mt-5">Java</h3>
                    <div class="progress">
                        <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" style="width: 65%;" area-valuenow="65" area-valuemin="0" area-valuemax="100">65%</div>
                    </div>
                </div>
            </div>
            <div class="row text-white m-5 px-5">
                <div class="col-sm-5">
                    <h3 class="mt-5">Python</h3>
                    <div class="progress">
                        <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" role="progressbar" style="width: 50%;" area-valuenow="50" area-valuemin="0" area-valuemax="100">50%</div>
                    </div>
                </div>
                <div class="col-sm-2">

                </div>
                <div class="col-sm-5">
                    <h3 class="mt-5">SQL</h3>
                    <div class="progress">
                        <div class="progress-bar bg-primary progress-bar-striped progress-bar-animated" role="progressbar" style="width: 90%;" area-valuenow="90" area-valuemin="0" area-valuemax="100">90%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
